* {
    margin: 0;
    padding: 0;
    
} 
body{
    background-color: #85A8E6;
}

.lista{

    margin-left:25%;
    margin-top: 10%;
    text-align: left;
}

.barra {
    background-color: #3B4B66;
    height: 40px;
    width:100%;
    gap: 30px;
    font-size: 150%;
    display: flex; 
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
   
}

.nombre{
   color: #8EB3F5;
   margin: 6px;
   width: 4em;
   text-align: center;
}

.impar{
    color: #3c62a3;
}
.par{
    color:#c1d1f0;
}
.boton,P{
    color: #3B4B66;
}