* {
    margin: 0;
    padding: 0;
    
} 
body{
    background-color: rgb(219, 182, 138);
}
.lista{

    margin-left:25%;
    margin-top: 10%;
    text-align: left;
}

.barra {
    background-color: rgb(0, 162, 255);
    height: 40px;
    width:100%;
    gap: 30px;
    font-size: 150%;
    display: flex; 
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
   
}

.nombre{
   color: white;
   margin: 6px;
   width: 4em;
   text-align: center;
}

.impar{
    color: brown;
}
.par{
    color:white;
}
